a. Insert data into a SQL Lite database â€“ create a table with the following data (Hint: Python for Data Analysis page 191):

b. Name, Address, City, State, Zip, Phone Number

c. Add at least 10 rows of data and submit your code with a query generating your results.

In [42]:
import sqlite3
from sqlite3 import Error
import pandas as pd

In [51]:
# Data is read from the csv file
AddressBookFile = "AddressBook.csv"
AddressBookData = pd.read_csv(AddressBookFile)
AddressBookData

     Name    Address    City    State    Zip PhoneNumber
0   Name1   Address1   City1   state1   zip1      phone1
1   Name2   Address2   City2   state2   zip2      phone2
2   Name3   Address3   City3   state3   zip3      phone3
3   Name4   Address4   City4   state4   zip4      phone4
4   Name5   Address5   City5   state5   zip5      phone5
5   Name6   Address6   City6   state6   zip6      phone6
6   Name7   Address7   City7   state7   zip7      phone7
7   Name8   Address8   City8   state8   zip8      phone8
8   Name9   Address9   City9   state9   zip9      phone9
9  Name10  Address10  City10  state10  zip10     phone10

In [52]:
# Create table
import sqlite3
add_table = """
CREATE TABLE AddressBook
(Name VARCHAR(20), Address VARCHAR(20),
City VARCHAR(20),State VARCHAR(20),
zip VARCHAR(20),PhoneNumber VARCHAR(20)
);"""
drop_table = """
DROP TABLE AddressBook 
"""
sqlite_file = 'DSC540_EdrisSafari.sqlite'
con = sqlite3.connect(sqlite_file)

con.execute(drop_table)
con.commit()

con.execute(add_table)
con.commit()

In [53]:
data = AddressBookData.values.tolist()
insert_data = "INSERT INTO AddressBook VALUES(?, ?, ?, ?, ?, ?)"
con.executemany(insert_data, data)
con.commit()

In [54]:
cursor = con.execute('select * from AddressBook')
rows = cursor.fetchall()
rows

[('Name1', 'Address1', 'City1', 'state1', 'zip1', 'phone1'),
 ('Name2', 'Address2', 'City2', 'state2', 'zip2', 'phone2'),
 ('Name3', 'Address3', 'City3', 'state3', 'zip3', 'phone3'),
 ('Name4', 'Address4', 'City4', 'state4', 'zip4', 'phone4'),
 ('Name5', 'Address5', 'City5', 'state5', 'zip5', 'phone5'),
 ('Name6', 'Address6', 'City6', 'state6', 'zip6', 'phone6'),
 ('Name7', 'Address7', 'City7', 'state7', 'zip7', 'phone7'),
 ('Name8', 'Address8', 'City8', 'state8', 'zip8', 'phone8'),
 ('Name9', 'Address9', 'City9', 'state9', 'zip9', 'phone9'),
 ('Name10', 'Address10', 'City10', 'state10', 'zip10', 'phone10')]