In [2]:
import pandas as pd
df = pd.read_csv("exercise.csv")
df

       Exercise CSV    Unnamed: 1          Unnamed: 2 Unnamed: 3
0  Week 1 Exercises           NaN                 NaN        NaN
1       Activity ID  Actvity Type   Activity Duration   Calories
2               125       Running                  65        450
3               126        Biking                  40        280
4               127       Running                  90        850
5               128       Walking                  30        160

In [3]:
pd.read_csv("exercise.csv",skiprows=2,index_col=0)
pd